<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="favicon.ico">
    <title>Trust Pet</title>
    <link rel="stylesheet" type="text/css" href="style/reset.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
</head>

<style>
    td,
    th {
        border: #ebd0ce solid 1px !important;
    }
</style>

<body>
    <div class="wrapper" id="petsitter">
        <!-- Navbar -->
        <div>
            <sidebarpetsitter></sidebarpetsitter>
        </div>
        <!-- Page Content -->
        <div id="content" style="background-color: #f7eceb;">
            <button type="button" id="sidebarCollapse" style="z-index: 10;">
                <i class="fas fa-align-left"></i>
            </button>

            <section class="row p-2">
                <div class="col-12 justify-content-center">
                    <h1 class="px-5 py-2 text-center " style="color:#545871; font-size:2em;">PEDIDOS PENDENTES</h1>
                    <div v-if="pedidosPendentes.length==0" class="alert alert-danger" role="alert"
                        style="width:50%; margin-left:auto; margin-right:auto;">
                        <h4 class="alert-heading">Não possui pedidos pendentes!</h4>
                    </div>

                    <div class="card my-3 mx-5" style="color:#545871;" v-for="pedido in pedidosPendentes"
                        v-if="checkData(pedido.dataFim)">

                        <h1 class="px-5 py-3 text-center" style="color:#545871; font-size:1.5em;">DONO</h1>
                        <div class="row text-center">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <img :src=pedido.dono.avatar
                                    style="overflow:hidden; width:100px; height:100px; border-radius:50%; display: block; margin-left: auto; margin-right: auto;">
                                <span>{{ pedido.dono.email }}</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 my-auto">
                                <button id="pinkbtn" class="btn my-3" type="button"
                                    v-on:click="pagDono(pedido.dono.email)"
                                    style="width: 55%; font-size: 1em; display: block; margin-left: auto; margin-right: auto;">
                                    Consultar Perfil</button>

                                <button id="bluepinkbtn" class="btn my-3" type="button" data-toggle="modal"
                                    :data-target="`#avaliar${pedido.dono.email}`"
                                    style="width: 55%; font-size: 1em; display: block; margin-left: auto; margin-right: auto;">
                                    Avaliar</button>
                                <avaliar-dono :id="`avaliar${pedido.dono.email}`" v-bind:dono="pedido.dono.email">
                                </avaliar-dono>

                            </div>
                        </div>

                        <h1 class="px-5 py-3 text-center" style="color:#545871; font-size:1.5em;">DADOS DO PEDIDO</h1>
                        <div id="marcacao" class="px-5 text-center">
                            <table class="table table-bordered"
                                style="margin-left: auto; margin-right: auto; table-layout: fixed;">
                                <tbody style="color: #545871;">
                                    <tr>
                                        <td style="text-align: center;">
                                            <i class='fas fa-hourglass-start' style="font-size:25px;color:#ebd0ce;"></i>
                                            <br>{{ pedido.dataInicio }}
                                        </td>

                                        <td style="text-align: center;">
                                            <i class='fas fa-hourglass-end' style="font-size:25px;color:#ebd0ce;"></i>
                                            <br>{{ pedido.dataFim }}
                                        </td>

                                        <td style="text-align: center;">
                                            <i class='fas fa-euro-sign' style="font-size:25px;color:#ebd0ce;"></i>
                                            <br>{{ pedido.preco }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <h1 class="px-5 py-3 text-center" style="color:#545871; font-size:1.5em;">SERVIÇOS</h1>
                        <div id="animaisServicos" class="row text-center py-3" v-for="a in pedido.animalServicos">
                            <div class="col-6">
                                <img v-if="a" :src=a.avatar
                                    style="overflow:hidden; width:100px; height:100px; border-radius:50%; display: block; margin-left: auto; margin-right: auto;">
                            </div>
                            <div class="col-6 text-left">
                                <p style="color: #545871; font-size: 1.5em; font-weight: 500;">
                                    {{ a.nome }}
                                </p>
                                <ul>
                                    <li v-for="servico in a.servicos">{{ servico }}</li>
                                </ul>
                            </div>
                        </div>
                        <button id="bluepinkbtn" class="btn mb-3" type="button" data-toggle="modal"
                            :data-target="`#cancelar${pedido.id}`"
                            style="width: 25%; font-size: 1em; display: block; margin-left: auto; margin-right: auto;">
                            Cancelar Pedido</button>
                        <div :id="`cancelar${pedido.id}`" class="modal fade" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" style="color: #545871;" id="exampleModalLongTitle">
                                            Cancelar Pedido
                                        </h5>
                                        <button type="button" id="submitRegistoDono" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" v-if="pedido.dono">
                                        Tem a certeza que pretende cancelar este pedido?
                                        <img :src=pedido.dono.avatar class="my-2"
                                            style="overflow:hidden; width:130px; height:130px; border-radius:50%; display: block; margin-left: auto; margin-right: auto;">
                                        <table class="table table-bordered"
                                            style="margin-left: auto; margin-right: auto; table-layout: fixed;">
                                            <tbody style="color: #545871;">
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <i class='fas fa-hourglass-start'
                                                            style="font-size:25px;color:#ebd0ce;"></i>
                                                        <br>{{ pedido.dataInicio }}
                                                    </td>

                                                    <td style="text-align: center;">
                                                        <i class='fas fa-hourglass-end'
                                                            style="font-size:25px;color:#ebd0ce;"></i>
                                                        <br>{{ pedido.dataFim }}
                                                    </td>

                                                    <td style="text-align: center;">
                                                        <i class='fas fa-euro-sign'
                                                            style="font-size:25px;color:#ebd0ce;"></i>
                                                        <br>{{ pedido.preco }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" id="pinkbtn"
                                            style="font-size: 1em; padding-right: 20px; padding-left: 20px;"
                                            data-dismiss="modal">Voltar</button>
                                        <button type="button" v-on:click="cancelarPedido(pedido.id)"
                                            style="font-size: 1em; padding-right: 20px; padding-left: 20px;"
                                            id="bluepinkbtn">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Snackbar -->
    <div id="snackbar"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="scripts/sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/petsitter.js"></script>
</body>