<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="favicon.ico">
    <title>Trust Pet</title>
    <link rel="stylesheet" type="text/css" href="style/reset.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
</head>

<style>
    .table td {
        border: #ebd0ce solid 1px !important;
    }
</style>

<body>
    <div class="wrapper" id="petsitter">
        <!-- Navbar -->
        <div>
            <sidebarpetsitter></sidebarpetsitter>
        </div>
        <!-- Page Content -->
        <div id="content" style="background-color: #f7eceb;">
            <button type="button" id="sidebarCollapse">
                <i class="fas fa-align-left"></i>
            </button>

            <section class="text-center" id="dadospessoais">
                <h1 class="px-5 py-2" style="color:#545871; font-size:2em;">DADOS PESSOAIS</h1>
                <div class="col-12">
                    <div class="card m-3" style="color:#545871;">
                        <img :src=dono.avatar class="mt-3"
                            style="overflow:hidden; width:170px; height:170px; border-radius:50%; display: block; margin-left: auto; margin-right: auto;">
                        <span class="text-center mt-2">
                            <h2 class="text-uppercase" style="font-size:1.7em; font-weight: 500;">
                                {{ dono.nome }}</h2>
                        </span>
                        <table class="table table-bordered"
                            style="width: 90%; margin-left: auto; margin-right: auto; table-layout: fixed;">
                            <tbody style="color: #545871;">
                                <tr>
                                    <td style="text-align: center;">
                                        <i class='fas fa-at' style="font-size:25px;color:#ebd0ce;"></i>
                                        <br>{{ dono.email }}
                                    </td>

                                    <td style="text-align: center;">
                                        <i class='fas fa-home' style="font-size:25px;color:#ebd0ce;"></i>
                                        <br>{{ dono.morada }}
                                    </td>

                                    <td v-if="dono.jardim==true" style="text-align: center;">
                                        <i class='fa fa-check' style="font-size:25px;color:#ebd0ce;font-weight:10;"></i>
                                        <br>Jardim
                                    </td>
                                    <td v-else style="text-align: center;">
                                        <i class='fa fa-times' style="font-size:25px;color:#ebd0ce;font-weight:10;"></i>
                                        <br>Jardim
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">
                                        <i class='fa fa-phone' style="font-size:25px;color:#ebd0ce;"></i>
                                        <br>{{ dono.contacto }}
                                    </td>

                                    <td style="text-align: center;">
                                        <span style="font-weight:600;font-size:20px;color:#ebd0ce;">Concelho</span>
                                        <br>{{ dono.concelho }}
                                    </td>

                                    <td style="text-align: center;">
                                        <i class='fas fa-star' style="font-size:25px;color:#ebd0ce;"></i>
                                        <br>{{ dono.avaliacaoMedia }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">
                                        <i class='fa fa-birthday-cake' style="font-size:25px;color:#ebd0ce;"></i>
                                        <br>{{ dono.dataNasc }}
                                    </td>

                                    <td style="text-align: center;">
                                        <span style="font-weight:500;font-size:20px;color:#ebd0ce;">Distrito</span>
                                        <br>{{ dono.distrito }}
                                    </td>

                                    <td style="text-align: center;">
                                        <i class='fas fa-edit' style="font-size:25px;color:#ebd0ce;"></i>
                                        <br>{{ dono.nrAvaliacoes }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section>
                <div class="justify-content-center">
                    <h1 class="px-5 py-2 text-center " style="color:#545871; font-size:2em;">ANIMAIS</h1>
                    <div v-if="dono.animais.length==0" class="alert alert-danger" role="alert"
                        style="width:50%; margin-left:auto; margin-right:auto;">
                        <h4 class="alert-heading">Ainda não tem animais registados!</h4>
                        <p>Adicione os seus animais para que os nossos petsitters possam cuidar deles.</p>
                        <hr>
                        <div class="text-center">
                            <a href="adicionarAnimal.html"><button type="button" id="whitebtn">Adicionar
                                    Animal</button></a>
                        </div>
                    </div>
                    <div class="row mx-1">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" v-for="animal in dono.animais"
                            v-bind:key="animal.id">
                            <div class="card m-3" style="color:#545871;">
                                <card-animal v-bind:animal="animal"></card-animal>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-2">
                <div class="justify-content-center text-center" v-if="dono.reviews.length>0">
                    <h1 class="px-5 py-2" style="color:#545871; font-size:2em;">REVIEWS</h1>
                    <div class="card m-3" style="color:#545871;" v-for="review in dono.reviews">
                        <div class="row p-3">
                            <div class="col-md-2">
                                <img :src=dono.review.petsitter.avatar class="m-3 my-auto"
                                    style="overflow:hidden; width:130px; height:130px; border-radius:50%; display: block; margin-left: auto; margin-right: auto;">
                            </div>
                            <div class="col-md-8 text-left pl-4">
                                <h2 class="text-uppercase my-auto" style="font-size:1.7em; font-weight: 500;">
                                    {{ review.petsitter.nome }}</h2>
                                <p class="muted-text">{{ review.data }}</p>
                                <p>{{ review.comentario }}</p>
                            </div>
                            <div class="col-md-2 my-auto">
                                <i class="fas fa-star" style="font-size:40px; color:#ebd0ce"></i>
                                <h1 class="pt-3" style="color:#545871; font-size:1.5em;">{{ review.pontuacao }}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="scripts/sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/petsitter.js"></script>
</body>