<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="favicon.ico">
    <title>Trust Pet</title>
    <link rel="stylesheet" type="text/css" href="style/reset.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
</head>

<style>
    td,
    th {
        border: #ebd0ce solid 1px !important;
    }
</style>

<body>
    <div class="wrapper" id="dono">
        <!-- Navbar -->
        <div>
            <sidebardono></sidebardono>
        </div>
        <!-- Page Content -->
        <div id="content" style="background-color: #f7eceb;">
            <button type="button" id="sidebarCollapse" style="z-index: 10;">
                <i class="fas fa-align-left"></i>
            </button>

            <section class="p-2">
                <div class="justify-content-center">
                    <h1 class="px-5 py-2 text-center " style="color:#545871; font-size:2em;">PETSITTERS</h1>
                    <div class="row mx-4">
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="color:#545871"><i class='fas fa-filter'
                                            style='font-size:15px'></i> &nbsp; Concelho</span>
                                </div>
                                <select class="form-control" v-model.number="selConcelho">
                                    <option>Todos</option>
                                    <option v-for="c in concelhos">{{c}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="color:#545871"><i class='fas fa-filter'
                                            style='font-size:15px'></i> &nbsp; Distrito</span>
                                </div>
                                <select class="form-control" v-model.number="selDistrito">
                                    <option>Todos</option>
                                    <option v-for="d in distritos">{{d}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="color:#545871"><i style="font-size:20px"
                                            class="fa">&#xf15e;</i> &nbsp; Classificação</span>
                                </div>
                                <select class="form-control" v-model="ordenacao">
                                    <option>Descendente</option>
                                    <option>Ascendente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="color:#545871"><i style="font-size:18px"
                                            class="fa">&#xf002;</i></span>
                                </div>
                                <input class="form-control" v-model="search" type="text"
                                    placeholder="Pesquisar por e-mail ou nome...">
                            </div>
                        </div>
                    </div>
                    <div class="row mx-2">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" v-for="petsitter in petsittersFiltrados"
                            v-bind:key="petsitter.id">
                            <div class="card m-3" style="color:#545871;">
                                <img :src=petsitter.avatar class="mt-3"
                                    style="overflow:hidden; width:170px; height:170px; border-radius:50%; display: block; margin-left: auto; margin-right: auto;">
                                <span class="text-center mt-2">
                                    <span class="text-uppercase text-center"
                                        style="font-size:1.7em; font-weight: 500;">{{ petsitter.nome }}&nbsp;</span>
                                </span>
                                <span class="text-center text-muted pb-2">{{ petsitter.email }}</span>
                                <table class="table table-bordered"
                                    style="width: 90%; margin-left: auto; margin-right: auto; table-layout: fixed;">
                                    <tbody style="color: #545871;">
                                        <tr>
                                            <td style="text-align: center;">
                                                <i class='fa fa-birthday-cake'
                                                    style="font-size:25px;color:#ebd0ce;"></i>
                                                <br>{{ petsitter.dataNasc }}
                                            </td>

                                            <td style="text-align: center;">
                                                <span
                                                    style="font-weight:600;font-size:20px;color:#ebd0ce;">{{ petsitter.concelho }}</span>
                                                <br>Concelho
                                            </td>

                                            <td style="text-align: center;">
                                                <i class='fas fa-star' style="font-size:25px;color:#ebd0ce;"></i>
                                                <br>{{ petsitter.avaliacaoMedia }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td v-if="petsitter.jardim==true" style="text-align: center;">
                                                <i class='fa fa-check' style="font-size:25px;color:#ebd0ce;"></i>
                                                <br>Jardim
                                            </td>
                                            <td v-else style="text-align: center;">
                                                <i class='fa fa-times' style="font-size:25px;color:#ebd0ce;"></i>
                                                <br>Jardim
                                            </td>

                                            <td style="text-align: center;">
                                                <span
                                                    style="font-weight:500;font-size:20px;color:#ebd0ce;">{{ petsitter.distrito }}</span>
                                                <br>Distrito
                                            </td>

                                            <td style="text-align: center;">
                                                <i class='fas fa-edit' style="font-size:25px;color:#ebd0ce;"></i>
                                                <br>{{ petsitter.nrAvaliacoes }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Snackbar -->
    <div id="snackbar"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="scripts/sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/dono.js"></script>
</body>