$dark-blue: #545871 ;
$dark-grey: #9597a6;
$medium-grey: #dadbe6;
$light-grey: #f0f1f7;
$pink: #ebd0ce;
$light-pink: #f7eceb;

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
}